<!DOCTYPE html>
    <html lang="es">
        <head>
            <meta charset="UTF-8">
            <title>Tienda Art Mascotas</title>
        </head>

        <body>
            <header>
            	<h1>Tienda de Mascotas</h1>
            	<img width="450" alt="Se ve un Perro" title="Perrito Jefe de la Tienda" src=../static/images/f768x1-41671_41798_79.jpg>
            	<nav>
            		<ul>
            			<li> <a href="index.html"> Inicio  </a> </li> 
            			<li> <a href="Productos.html">  Productos  </a> </li>   
            			<li> <a href="Consejos.html"> Consejos de Salud  </a> </li>   
            			<li> <a href="Servicios.html"> Servicio de Paseos  </a> </li>   
            			<li> <a href="Sucursales.html"> Sucursales  </a> </li>   
            			<li> <a href="Contactanos.html"> Contactanos  </a> </li>               			          
            		</ul>
            	</nav>
            </header>
        </body>
    </html>