<!DOCTYPE html>
    <html lang="es">
        <head>
            <meta charset="UTF-8">
            <title>Tienda Mas-cotas</title>
        </head>
        <body>
            <header>
                <h1>Tienda de Mascotas "Mas-cotas"</h1>
                <img width="400" alt="Se ve un Perro" title="Perrito Jefe de la Tienda" src=../static/images/f768x1-41671_41798_79.jpg>
            </header>
            <nav>
                    <ul>
                        <li> <a href="index.html"> Inicio  </a> </li> 
                        <li> <a href="Productos.html">  Productos  </a> </li>
                        <li> <a href="Consejos.html"> Consejos de Salud  </a> </li>
                        <li> <a href="Servicios.html"> Servicio de Paseos  </a> </li>
                        <li> <a href="Sucursales.html"> Sucursales  </a> </li>
                        <li> <a href="Contactanos.html"> Contactanos  </a> </li>
                    </ul>
             </nav>
            <section><h1>Objetivos</h1> 
            <article>Determinar las estrategias de publicidad apropiadas para lograr un correcto posicionamiento del producto.</article>
            <article>Obtener un lugar en el mercado, satisfaciendo las expectativas del comprador.</article>
            <article>Demostrar los beneficios del producto para los caninos.</article>
			<article>Contribuir al mejoramiento en la calidad de vida de las mascotas.</article>
			<article>Brindar un producto de calidad, comprometiéndonos e inspirando confianza a los clientes, ofreciéndoles el mejor alimento para sus caninos.</article>
			<article>Ser una empresa responsable, insertar de manera positiva e innovadora en el mercado ofreciendo un producto de calidad que no solamente sacie una necesidad, sino que nutra y contribuya al bienestar de las mascotas.</article>
            </section>
            <aside>
            <img width=350 alt="metodos" title="Metodos de Pagos" src=../static/images/pagos.png>
            </aside>
            <footer> <p>Copyright 2023 - Tienda Mas-cotas - Diseñado por Grupo 28 – Jujuy – República Argentina </p></footer>
        </body>
    </html>