<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Tienda Art Mascotas</title>
</head>
	<body>
			<h1>Productos para mascotas</h1>
            	 <h3>Peine Cardina de Plastico</h3>
				    <img width="300" src="../static/images/Peine%20perro.jpg" >
				    <p>Este peine es util para sacar los pelos de nuestra mascota.</p>
				 <h3>Pechera de Perro</h3>
				    <img width="300" src="../static/images/pechera.jpg" >
				    <p>Esta Pechera es util para colorle a nuestro perro y poder pasearlo.</p>
				 <h3>Maquina de Cortar Pelo</h3>
				    <img width="300" src="../static/images/maquina%20corte.jpg" >
				    <p>Esta maquina es util para cortarle el pelo a nuestra mascota.</p>
				 <h3>Cama para la Mascota</h3>
				    <img width="300" src="../static/images/cama.jpg" >
				    <p>Este producto es una cama para nuestra mascota.</p>
				 <h3>Transportadora</h3>
				    <img width="300" src="../static/images/transportadora.jpg" >
				    <p>Este Articulo es util para transportar a nuestra mascota.</p>
	</body>
</html>