<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Tienda Art Mascotas</title>
</head>
<body>
	<h1>Nuestro Servicio de Paseos</h1>
	<table border = "1">
		<tr>
			<td>Dia</td>
			<td>Lunes</td>
			<td>Martes</td>
			<td>Miercoles</td>
			<td>Jueves</td>
			<td>Viernes</td>
			<td>Sabado</td>
		</tr>
		<tr>
			<td>Horarios</td>
			<td>9 a 12 - 16 a 18</td>
			<td>9 a 12 - 16 a 18</td>
			<td>9 a 12 - 16 a 18</td>
			<td>9 a 12 - 16 a 18</td>
			<td>9 a 12 - 16 a 18</td>
			<td>9 a 12 - 16 a 18</td>
		</tr>
		<tr>
			<td>Paseador</td>
			<td>Juan Perez</td>
			<td>Lucas Diaz</td>
			<td>Juan Perez</td>
			<td>Maria Gomez</td>
			<td>Lucas Diaz</td>
			<td>Roberto Vazquez</td>
		</tr>
	</table>
</body>
</html>