<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Tienda Art Mascotas</title>
</head>
<body>
			<h1>Consejos para de Salud para nuestra Mascota</h1>
			<img width="400" src="../static/images/perro%20feliz.jpg">
			<img width="300" src="../static/images/perrito%20feliz.jpg">
            	 <h3>1. Visita Regularmente al Veterinario</h3>
				    <p>El veterinario nos orientará y diseñará un plan de prevención de las innumerables enfermedades que atacan a los animales de compañía, enseñándonos a cuidar de la mejor manera posible a nuestro compañero.</p>
				 <h3>2. Desparasita con Frecuencia a tu Mascota</h3>
				    <p>La desparasitación de las mascotas debe llevarse a cabo antes de iniciar el suministro de las vacuna, porque además de eliminar los parásitos, el antiparasitario estimula las defensas y ayuda a que la vacuna produzca un mejor efecto inmune en los animales.</p>   
				 <h3>3. Proporcionele una buena alimentacion</h3>
				    <p>Utiliza alimentos saludables, que cubran todas las necesidades nutricionales de tu mascota, aportando todos los elementos necesarios para un correcto crecimiento y desarrollo de la mascota, desde sus primeros años de vida hasta su etapa adulta.</p> 
				 <h3>4. No Descuides su Limpieza</h3>
				    <p>Para huir de los parásitos externos (pulgas, garrapatas, piojos…) y de las enfermedades de la piel, el primer paso está en la prevención mediante un aseo periódico de tu mascota, de esta manera podremos detectar y tomar las medidas necesarias.</p>
				 <h3>5. Que realice ejercicio con frecuencia</h3>
				    <p>Realizar dos paseos al día, salir a correr o jugar con tu mascota son ejercicios que no podemos olvidar para mantener el correcto estado de salud de tu mascota, y que esta pueda tener una vida plena, sana y feliz.</p>
				 <h3>6. Evitar los cambios bruscos de las temperaturas</h3>
				    <p>Evita las altas temperaturas en verano, dale agua fresca y limpia frecuentemente, evita los ejercicios intensos durante las hora de más calor, no olvides a tu mascota dentro del coche y evita las situaciones de estrés. Recuerda que con el calor los animales puede que no tengan tanto apetito.</p>
				 <h3>7. Demostrarle que lo quiere</h3>
				    <p>A las mascotas les gustan las caricias, así que procura hacerlas con frecuencia. Recuerda que el cariño ayuda a tu mascota a liberar estrés, relajarse y a sentirse querida. Además, está comprobado que las personas que acarician a sus mascotas también se sienten mejor.</p>              
</body>
</html>